.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-container {
  width: 100vw;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
}

.nav-container button {
  margin: 1rem 1rem;
  width: 4rem;
}

.top-content {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.top-content img {
  width: 50%;
  height: 50%;
  width: auto;
  border-radius: 50%;
}

.top {
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.top p {
  padding: 0.5rem 1rem;
  background: #cccccc;
}

.top input, button {
  margin-top: 0.5rem;
}

.top input {
  width: 20rem;
}

.top button {
  width: 12rem;
}
