.list-container {
    width: 100vw;
    color: #2E2F38;
  }

.list-top {
  margin: 1rem 1rem 0;
}

 .list-content h3 {
  background-color: #086A27;
  padding: .5rem;
  color: #F6F6F8;
  margin: 1rem auto;
  text-align: center;
  width: 300px;
}

.list-content {
  max-width: 500px;
  margin: auto;
}

@media(min-width: 500px) {
  .list-top {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
  }
  /* .list-top{
    center button
  } */
}
