/* Login */


.login-page {
    display: flex;
    flex-direction: column;
  }

  .login-page h4 {
    text-align: center;
    width: 40px;
    margin: 1rem 1rem 0 1rem;
    padding: 1rem 0.5rem;
    background: #EAB602;
  }
  
  .login-page img {
    align-self: flex-start;
    margin: .5rem;
    border-radius: 50%;
  }
  
  .login-page h3 {
    text-align: center;
    background: #30864A;
    color: #fff;
    margin: 1rem 3rem;
    padding: 1rem 0;
  }
  
  .login-form {
    margin: 3rem 3rem;
    display: flex;
    flex-direction: column;
  }
  
  .login-form label {
    align-self: flex-start;
    margin-bottom: 0.5rem;
  }
  
  .login-form button {
    align-self: center;
    width: 30%;
  }
  
  .login-input {
    display: flex;
    justify-content: flex-start;
  }

  @media(min-width: 800px) {
    .login-page {
      margin: auto;
      width: 90%;
    }

    .login-page h3 {
      margin: auto;
      width: 50%;
    }

    .login-form {
      margin: auto;
      width: 50%;
    }

    .login-page h3 {
      height: 60px;
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 40px;
    }
  }